{% extends "base.html" %}

{% block headers %}
    {{ super() }}

    <title>{{ article.title }} - {{ SITENAME }}</title>

    <meta name="author" content="{{ article.author|e }}" />
    <meta name="keywords" content="{{ article.keywords|e }}" />
    <meta name="description" content="{{ article.description|e }}" />

    {% set open_graph = { 
        'og:type': 'article',
        'og:title': '%s - %s' % (article.title, SITENAME),
        'og:description': article.description,
        'og:url': '%s/%s' % (SITEURL, article.url)
        }
    %}
    {% include 'open_graph.html' %}
{% endblock %}

{% block content %}
<article>

    <header class="entry-header">
        <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" title="Permalink" rel="bookmark">{{ article.title }}</a></h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        {{ article.content }}
    </div><!-- .entry-content -->

    <footer class="entry-meta">
        <div class="entry-date">
            Posted on <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
        </div><!-- .entry-date -->
    </footer><!-- #entry-meta -->

</article>

{% if DISQUS_SITENAME %}
<div class="comments">
    <a name="comments"></a>
    <div id="disqus_thread"></div>
    {% import 'disqus.html' as disqus %}
    {{ disqus.embed(DISQUS_SITENAME, article.slug) }}
</div>
{% endif %}

{% include 'twitter_button.html' %}
{% include 'facebook_button.html' %}

{% endblock content %}
