<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />

        {% assets filters="compass,cssmin,gzip", output="css/style.css", "sass/style.sass" %}
            <link rel="stylesheet" type="text/css" href="{{ SITE_URL }}/{{ ASSET_URL }}">
        {% endassets %}

    </head>
    <body>

        <header id="branding" role="banner">
        </header><!-- #branding -->

        <nav>

            <ul id="menu">
                <li><a href="{{ SITEURL }}/">Home</a></li>
                <li><a href="{{ SITEURL }}/articles/programming/">Programming</a></li>
                <li><a href="{{ SITEURL }}/articles/using-software/">Using Software</a></li>
                <li><a href="{{ SITEURL }}/about/">About</a></li>
		<li><a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" title="RSS feed">Subscribe</a></li>
            </ul>

{#
            <form method="get" id="search-form" action="#todo">
                <label for="s" class="assistive-text">Search</label>
                <input type="text" class="field" name="s" id="s" placeholder="Search" />
                <input type="submit" class="submit" name="submit" id="searchsubmit" value="Go" />
            </form>
#}

        </nav><!-- /nav -->

        <section id="page">
            <section id="content" role="main" class="{% block page_class %}{% endblock %}">
                {% block content %}
                {% endblock %}
            </section>
        </section><!-- #page -->

    </body>
</html>
