<!DOCTYPE html>
<html lang="en">
    <head>
    {% block headers %}
        <meta charset="charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />

        {% assets filters="compass,cssmin", output="css/style.css", "sass/style.sass" %}
            <link rel="stylesheet" type="text/css" href="{{ SITE_URL }}/{{ ASSET_URL }}" />
        {% endassets %}

        <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ SITE_URL }}/theme/js/html5shiv-printshiv.js"></script>
        <script type="text/javascript" src="{{ SITE_URL }}/theme/js/respond.min.js"></script>
        <![endif]-->
    {% endblock headers %}
    </head>
    <body>
        <div id="container">
    {#
            <header id="branding" role="banner">
            </header><!-- #branding -->
    #}
            <nav id="main-nav">

                <ul id="menu">
                    <li><a href="{{ SITEURL }}/">Home</a></li>
                    <li><a href="{{ SITEURL }}/articles/programming/">Programming</a></li>
                    <li><a href="{{ SITEURL }}/articles/using-software/">Using Software</a></li>
                    <li><a href="{{ SITEURL }}/pages/about/">About</a></li>
                    <li><a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" title="RSS feed">Subscribe</a></li>
                </ul>

            </nav><!-- /nav -->

            <section id="page">
                <section id="content" role="main" class="{% block page_class %}{% endblock %}">
                    {% block content %}
                    {% endblock %}
                </section>
            </section><!-- #page -->

        </div>
    </body>
</html>
