{% extends "base.html" %}

{% block headers %}
    {{ super() }}

    <title>{{ category.name|title }} - {{ SITENAME }}</title>

    {% set open_graph = { 
        'og:url': '%s/%s' % (SITEURL, category.slug)
        }
    %}
    {% include 'open_graph.html' %}
{% endblock %}

{% block page_class %}{{ super() }} category{% endblock page_class %}

{% block content %}
<header class="page-header">
    <h1><a href="{{ SITEURL }}/{{ category.slug }}" title="Permalink" rel="bookmark">Articles: {{ category.name|title }}</a></h2>
</header><!-- .page-header -->
{% for article in articles %}  
<article>

    <header class="entry-header">
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" title="Permalink" rel="bookmark">{{ article.title }}</a></h2>
    </header><!-- .entry-header -->

    <div class="entry-content">
        {% if article.description -%}
            {{ article.description }}
        {% else %}
            {{ article.summary|striptags }}
        {%- endif %}
        <a href="{{ SITEURL }}/{{ article.url }}">Read full article</a>
    </div><!-- .entry-content -->

</article>
{% else %}
<article>
    <header class="entry-header">
        <h2 class="entry-title">Nothing Found</h2>
    </header><!-- .entry-header -->
</article>
{% endfor %}
{% endblock content %}
