{% extends "base.html" %}

{% block headers %}
    {{ super() }}

    <title>{{ page.title }} - {{ SITENAME }}</title>

    {% set open_graph = { 
        'og:type': 'article',
        'og:title': '%s - %s' % (page.title, SITENAME),
        'og:url': '%s/%s' % (SITEURL, page.slug)
        }
    %}
    {% include 'open_graph.html' %}
{% endblock %}

{% block content %}
<article>

    <header class="entry-header">
        <h1 class="entry-title"><a href="{{ SITEURL }}/{{ page.slug }}" title="Permalink" rel="bookmark">{{ page.title }}</a></h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        {{ page.content }}
    </div><!-- .entry-content -->

</article>
{% endblock %}
