.codehilite
  pre
    white-space: pre-wrap

  @extend %bywires-indented-content-block
  line-height: 18px
  font:
    family: $monospace-font
    size: 14px

  .cp
    display: none

  .s1, .mi
    color: #65909A

  .c1
    color: darken($content-accent-color, 10%)

  .k
    color: #516BA9

  .nv
    color: darken(#D61620, 20%)

  .nx, .na
    color: $content-font-color
